feedparser
beautifulsoup4
boto3==1.21.21
requests
psycopg2-binary
numpy
scikit-learn
pika
fastapi
starlette
uvicorn
asyncpg
aiobotocore==2.3.2
botocore==1.24.21
streamlit
altair
matplotlib
paramiko
diff_match_patch